/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-social/bootstrap-social.css";

.loading-spinner-graph {
  font-size: 4.8rem;
  color: grey !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.main-navbar{
  padding: 0px !important;
}

.bg-white {
  background-color: white !important;
}

.menu-font {
  font-family: Helvetica-Bold !important;
  font-size: 20px !important;
  color: #000000 !important;
  font-weight: bolder;
}

.navbar-nav > li.active > a {
    border-bottom: 3px #5BABF4 solid;
}

.trending-topic {
  font-family: Avenir-Heavy;
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #F7F5FE;
  border-radius: 5px;
  padding-left: 9px;
  margin-bottom: 10px;
}

.tweet-user {
  font-family: Helvetica-Bold;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.user-img {
  border-radius: 100px;
  height: 49px;
  width: 49px;
}

.hash-tag {
  color :#5BABF4;
  display:inline;
}